<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Блог{% endblock %}</title>
    <link href="\static\css\bootstrap.css" rel="stylesheet">
    <script defer src="\static\js\bootstrap.bundle.js"></script>
  <body>
    <div class="container-fluid-base text-center vh-100">
        
      <div class="container-md text-center vh-100 p-0">
        
        {% block page_title %}<h1>Блог</h1>{% endblock %}
          
        {% block content %}{% endblock %}

      </div>

    </div>

    <div class="fixed-bottom">
      <div class="bg-bottom">
        {% block bottom %}{% endblock %}
      </div>
    </div>
    
    </div>
    
  </body>
</html>