{% extends 'supply/base.html' %}

{% block title %}
  Свет
{% endblock %}

{% block page_title %}
<div class="weather-widget ms-3">
    
  <div class="weather-main">
    <img src="/media/{{ icon }}" class="weather-icon">
    <div>
      <div class="weather-temp">{{ temp }}</div>
      <div class="weather-status">{{ status }}</div>
    </div>
  </div>
    
  <div class="weather-details">
    <span>💧 {{ humidity }}%</span>
    <span>🌡 {{ pressure }}</span>
    <span>☁ {{ clouds }}</span>
  </div>
</div>

<div class="container-fluid text-start" style="height: 1rem;"></div>

<div class="container-fluid text-gray-right p-4">
  <h1>Наш дом</h1>
</div>
{% endblock %}

{% block content %}
  <div class="container ms-5 p-2 text-title">
    <div class="section-title">Коридор</div>
  </div>
  <div class="row row-cols-2 p-2">
    {% for switch in switches %}
    
      {% if switch.location == 'коридор' %}
        {% include 'supply/_device_card.html' %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="container text-white-start ms-5 p-2">
    <div class="section-title">Макс</div>
  </div>
  <div class="row row-cols-2 ms-1 me-1">
    {% for switch in switches %}
    
      {% if switch.location == 'Макс' %}
        {% include 'supply/_device_card.html' %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="container text-white-start ms-5 p-2">
    <div class="section-title">Остальные</div>
  </div>
  <div class="row row-cols-2 mb-5 ms-1 me-1">
    {% for switch in switches %}
    
      {% if switch.location == 'остальные' %}
        {% include 'supply/_device_card.html' %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="container text-white-start ms-5 p-2">
    <div class="section-title">Кухня</div>
  </div>
  <div class="row row-cols-2 ms-1 me-1">
    {% for switch in switches %}
      {% if switch.location == 'кухня' %}
        {% include 'supply/_device_card.html' %}
      {% endif %}
    {% endfor %}
  </div>

  {% endblock %}


{% block bottom %}
  <div class="container text-center p-1">
    
    <div class="row p-1">
      <div class="col-6">
        <a href="{% url 'supply:mobile' %}" class="btn btn-success rounded-2">Мобильная</a>
      </div>

      {% if user.is_superuser %}
        <div class="col-6">
          <a href="{% url 'supply:redact' %}" class="btn btn-success rounded-2">Редактировать список</a>
        </div>

      {% else %}
        <div class="col-6">
          <a href="{% url 'supply:home' %}" class="btn btn-success rounded-2">Обновить</a>
        </div>
      {% endif %}
    </div>

  </div>
{% endblock %}
