{% extends 'users/base.html' %}

{% block title %}
  Авторизация
{% endblock %}

{% block content %}
  <div class="container-fluid-base text-start">

    <div class="container-md-user text-start p-3">

      <div class="container-fluid text-start" style="height: 2rem;"></div>

      <div class="container-fluid text-white-card p-4">
        <h1>Регистрация пользователей</h1>
      </div>

      <div class="row mt-3 p-2">
        <div class="col-5 bg-user-create-form rounded-3">
          <form method="post" class="mb-2" enctype="multipart/form-data">
            
            {% csrf_token %}
            {{ form.as_p }}
            
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" class="btn btn-warning btn-lg mt-3 mb-1">Создать аккаунт</button>
            </div>
            
          </form>
        </div>

        <div class="col-7">
          
          <div class="container">
            <div class="position-relative" style="height: 55rem;">
              <div class="position-absolute top-50 start-50 translate-middle">
                
                <div class="container bg-user-create-text rounded-5 p-2">
                  <h2 class="ms-4">УПРАВЛЕНИЕ</h2>
                  <h2 class="ms-2">ДОМАШНИМ СВЕТОМ</h2>
                  <h2 class="ms-2">СО УДОБСТВОМ МАРСИАНСКОГО</h2>
                  <h2 class="ms-4">ЭКСПРЕССА</h2>
                </div>

              </div>
            </div>
          </div>
            
        </div>
      </div>

      <div class="container-fluid" style="height: 9rem;"></div>
    </div>
  </div>
  
{% endblock %}


{% block bottom %}
  <div class="container text-center p-1">
    
    <div class="row p-1 me-2">
      {% if user.is_authenticated %}
        
        <div class="col">
          <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
            {% csrf_token %}
            <div class="flex-grow-0 ms-2 mt-1">
              <button type="submit" class="btn btn-success rounded-2">Выйти</button>
            </div>
          </form>
        </div>

        <div class="col">
          <a href="{% url 'mailings:main' %}" class="btn btn-success rounded-2 ms-2 mt-1">Главная</a>
        </div>
        
        {% if user.is_superuser %}
          <div class="col">
            <a href="{% url 'users:list' %}" class="btn btn-success rounded-2 me-4 mt-1">Все юзеры</a>
          </div>
        {% endif %}

      {% else %}
        
        <div class="col">
          <a href="{% url 'users:login' %}" class="btn btn-success rounded-2 ms-2">Войти</a>
        </div>
        
        <div class="col">
          <a href="{% url 'users:create' %}" class="btn btn-success rounded-2 ms-1">Обновить</a>
        </div>
      {% endif %}
    </div>

  </div>
{% endblock %}
