[Unit]
Description=AERP CM cleaning service

[Service]
Environment=NATSD_URI=nats://complexos.local:4222
#место размещения исполняемых файлов
WorkingDirectory=/home/pi/complexos-coffeemachine-drv
Type=simple
ExecStart=/home/pi/bin/start-node.sh cleaning-drv.js --hwid=cm \
													 --i2c-bus=1 \
													 --i2c-addr=0x41 \
													 --i2c-deterg-CM-dev=0x25 \
													 --i2c-deterg-CM-value=100 \
													 --i2c-deterg-MS-dev=0x24 \
													 --i2c-deterg-MS-value=100 \
													 --i2c-purge-CM-dev=0x23 \
													 --i2c-purge-CM-value=100 \
													 --i2c-purge-MS-dev=0x22 \
													 --i2c-purge-MS-value=100 \
													 --i2c-comm-valve-dev=0x32 \
													 --i2c-comm-valve-value=100
# --hwid=cm - идентификатор устройства
# --i2c-bus=1 - шина i2c, по умолчанию 1, возможные значения 1, 3, 4, 6
# --i2c-addr=0x41 - адрес супервизора, к которому подключены насосы и клапаны мойки молочной системы, возможные значения от 0x40 до 0x47
# --i2c-deterg-CM-dev=0x25 - адрес выхода на супервизоре для насоса подачи моющего средства в промывочную ёмкость кофемашины
# --i2c-deterg-CM-value=100 - 100-работает 0-не работает (при использовании PWM разъема j110 j111 допускаются значения -100(обратное направление)...100(прямое направление))
# --i2c-deterg-MS-dev=0x24 - адрес выхода на супервизоре для насоса подачи моющего средства в промывочную ёмкость холодильника
# --i2c-deterg-MS-value=100 - 100-работает 0-не работает (при использовании PWM разъема j110 j111 допускаются значения -100(обратное направление)...100(прямое направление))
# --i2c-purge-CM-dev=0x23 - адрес выхода на супервизоре для насоса откачки из промывочной ёмкости кофемашины после промывки
# --i2c-purge-CM-value=100 - 100-работает 0-не работает (при использовании PWM разъема j110 j111 допускаются значения -100(обратное направление)...100(прямое направление))
# --i2c-purge-MS-dev=0x22 - адрес выхода на супервизоре для насоса откачки из промывочной ёмкости холодильника после промывки
# --i2c-purge-MS-value=100 - 100-работает 0-не работает (при использовании PWM разъема j110 j111 допускаются значения -100(обратное направление)...100(прямое направление))
# --i2c-comm-valve-dev=0x32 - адрес выхода на супервизоре для активации промывочного коммутатора на задней панели холодильника
# --i2c-comm-valve-value=100 - 100-работает 0-не работает
 
Restart=always
RestartSec=2s
SyslogIdentifier=cm-cleaning

[Install]
WantedBy=multi-user.target
