<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Свет{% endblock %}</title>
    <link href="\static\css\bootstrap.css" rel="stylesheet">
    <script defer src="\static\js\bootstrap.bundle.js"></script>
    <script defer src="\static\js\time.js"></script>
  <body>
    <div class="container-fluid-base text-center">
        
      <div class="container-md-mobile text-center p-0">

        <div class="container" style="height: 1rem;"></div>
          
          <div class="hstack gap-3">
            <div class="d-flex">
              <h4 class="ms-4 me-5" id="clock"></h4>
            </div>

            <div class="d-flex bg-bottom rounded-5 text-end">
              <div class="d-flex">
                <h5 class="text-white-card ms-3 mt-1 me-2">Погода сейчас</h5>
                <p class="mt-2 ms-1">{{ switches.temp }}</p>
                <h5 class="mt-2 ms-1">{{ switches.icon }}</h5>
                <p class="mt-2 ms-1">{{ switches.icon }}</p>
                <p class="mt-2 ms-1">{{ switches.status }}</p>
                <p class="mt-2 ms-1">{{ switches.pressure }}</p>
                <p class="mt-2 ms-1">{{ switches.humidity }}</p>
                <p class="mt-2 ms-1">{{ switches.clouds }}</p>
              </div>

              <a href="{% url 'supply:mobile' %}" class="btn btn-outline-light rounded-5">Обновить</a>
            </div>
          </div>
        
        {% block page_title %}<h1>Свет</h1>{% endblock %}
          
        {% block content %}{% endblock %}

      </div>

    </div>

    <div class="fixed-bottom">
      <div class="bg-bottom">
        {% block bottom %}{% endblock %}
      </div>
    </div>
    
    </div>
    
  </body>
</html>