<!doctype html>
<html lang="ru" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}{% endblock %}
    <link href="\static\css\bootstrap.css" rel="stylesheet">
    <script defer src="\static\js\bootstrap.bundle.js"></script>
  <body>
    <div class="container-md">
        
      <div class="container">

        <div class="container" style="height: 1rem;"></div>        
        {% block page_title %}<h1>Свет</h1>{% endblock %}
          
        {% block content %}{% endblock %}

      </div>

    </div>

    <div class="fixed-bottom">
      <div class="bg-bottom">
        {% block bottom %}{% endblock %}
      </div>
    </div>
    
    </div>
    
  </body>
</html>