{% extends 'supply/mobile/base.html' %}


{% block title %}
<title>Свет</title>
<script defer src="\static\js\time.js"></script>
{% endblock %}

{% block page_title %}
<div class="row">
  <div class="col-9">
    <div class="weather-widget">
    
      <div class="weather-main">
        <img src="/media/{{ icon }}" class="weather-icon">
        <div>
          <div class="weather-temp">{{ temp }}</div>
          <div class="weather-status">{{ status }}</div>
        </div>
      </div>
    
      <div class="weather-details">
        <span>💧 {{ humidity }}%</span>
        <span>🌡 {{ pressure }}</span>
        <span>☁ {{ clouds }}</span>
      </div>
    </div>

  </div>
  <div class="col">
    <h4 class="weather-clock text-end" id="clock"></h4>
  </div>
</div>


<div class="container-fluid" style="height: 1.5rem;"></div>

<div class="container-fluid text-end">
  <h1>Наш дом</h1>
</div>
{% endblock %}

{% block content %}
  
  <div class="container ms-5 p-2 text-title">
    <div class="section-title">Коридор</div>
  </div>

  <div class="container">
    {% for switch in switches %}
      {% if switch.location == 'коридор' %}
        {% include 'supply/_device_card.html' %}
      {% endif %}
    {% endfor %}
  </div>


  <div class="container ms-5 p-2 text-title">
    <div class="section-title">Макс</div>
  </div>

  <div class="container">
    {% for switch in switches %}
      {% if switch.location == 'Макс' %}
        {% include 'supply/_device_card.html' %}
      {% endif %}
    {% endfor %}
  </div>


  <div class="container ms-5 p-2 text-title">
    <div class="section-title">Остальные</div>
  </div>

  <div class="container">
    {% for switch in switches %}
      {% if switch.location == 'остальные' %}
        {% include 'supply/_device_card.html' %}
      {% endif %}
    {% endfor %}
  </div>


  <div class="container ms-5 p-2 text-title">
    <div class="section-title">Кухня</div>
  </div>

  <div class="container">
    {% for switch in switches %}
      {% if switch.location == 'кухня' %}
        {% include 'supply/_device_card.html' %}
      {% endif %}
    {% endfor %}
  </div>

  {% endblock %}


{% block bottom %}
  <div class="container text-center p-1">
    
    <div class="row p-1">
      <div class="col-6">
        <a href="{% url 'supply:create' %}" class="btn btn-success rounded-2">Создать кнопку</a>
      </div>

      {% if user.is_superuser %}
        <div class="col-6">
          <a href="{% url 'supply:redact' %}" class="btn btn-success rounded-2">Редактировать список</a>
        </div>

      {% else %}
        <div class="col-6">
          <a href="{% url 'supply:mobile' %}" class="btn btn-success rounded-2">Обновить</a>
        </div>
      {% endif %}
    </div>

  </div>
{% endblock %}
